/* Reset rounded corners for all elements */
div,
input,
select,
textarea,
span,
img,
table,
label,
td,
th,
p,
a,
button,
ul,
code,
pre,
li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a,
a:focus,
a:hover,
a:active {
    outline: 0;
}

/*Fix for Firefox*/
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
}

/* Bootstrap buttons */
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #3379b5;
    border-color: #2a6496;
}

.open .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3379b5;
    border-color: #2a6496;
}

.btn-primary:active,
.btn-primary.active {
    background-image: none;
    background-color: #2d6ca2;
}

.btn-primary:active:hover,
.btn-primary.active:hover {
    background-color: #3071a9;
}

.open .btn-primary.dropdown-toggle {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary .badge {
    color: #428bca;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #45B6AF;
    border-color: #3ea49d;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    color: #fff;
    background-color: #3b9c96;
    border-color: #307f7a;
}

.open .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #3b9c96;
    border-color: #307f7a;
}

.btn-success:active,
.btn-success.active {
    background-image: none;
    background-color: #348a84;
}

.btn-success:active:hover,
.btn-success.active:hover {
    background-color: #37918b;
}

.open .btn-success.dropdown-toggle {
    background-image: none;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #45B6AF;
    border-color: #3ea49d;
}

.btn-success .badge {
    color: #45B6AF;
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #89C4F4;
    border-color: #72b8f2;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
    color: #fff;
    background-color: #68b4f1;
    border-color: #43a1ed;
}

.open .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #68b4f1;
    border-color: #43a1ed;
}

.btn-info:active,
.btn-info.active {
    background-image: none;
    background-color: #51a8ef;
}

.btn-info:active:hover,
.btn-info.active:hover {
    background-color: #5aadf0;
}

.open .btn-info.dropdown-toggle {
    background-image: none;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #89C4F4;
    border-color: #72b8f2;
}

.btn-info .badge {
    color: #89C4F4;
    background-color: #fff;
    }

.btn-warning {
    color: #fff;
    background-color: #dfba49;
    border-color: #dbb233;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
    color: #fff;
    background-color: #daae2b;
    border-color: #bb9521;
}

.open .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #daae2b;
    border-color: #bb9521;
}

.btn-warning:active,
.btn-warning.active {
    background-image: none;
    background-color: #c89f23;
}

.btn-warning:active:hover,
.btn-warning.active:hover {
    background-color: #d0a625;
}

.open .btn-warning.dropdown-toggle {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #dfba49;
    border-color: #dbb233;
}

.btn-warning .badge {
    color: #dfba49;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #F3565D;
    border-color: #f13e46;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
    color: #fff;
    background-color: #f1353d;
    border-color: #ec111b;
}

.open .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #f1353d;
    border-color: #ec111b;
}

.btn-danger:active,
.btn-danger.active {
    background-image: none;
    background-color: #ef1d26;
}

.btn-danger:active:hover,
.btn-danger.active:hover {
    background-color: #f0262f;
}

.open .btn-danger.dropdown-toggle {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #F3565D;
    border-color: #f13e46;
}

.btn-danger .badge {
    color: #F3565D;
    background-color: #fff;
}

/***
Social Icons
***/
.social-icons {
    padding: 0;
    margin: 0;
}

.social-icons:before,
.social-icons:after {
    content: " ";
    display: table;
}
.social-icons:after {
    clear: both;
}

.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    text-indent: -9999px;
}
.social-icons li > a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover > a {
    background-position: 0 -38px;
}
.social-icons li .amazon {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/amazon-da6536d01f8f8d516d7a1a6c9d359ed2daa45fb822dd09a1811a6c353a993223.png) no-repeat;
}
.social-icons li .behance {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/behance-af191e54adc5e77aa299d80f40c001b113448fef6c7b63325e33671d62c622c8.png) no-repeat;
}
.social-icons li .blogger {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/blogger-7333750ce07c5e8bc7196f10e091098e3823ce735ac5a9e27ccee6f8543a4b50.png) no-repeat;
}
.social-icons li .deviantart {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/deviantart-5a316b0702d90446dae32e4f8a5e80f63aa5405c3e3f1185ed0e8353bba90ccd.png) no-repeat;
}
.social-icons li .dribbble {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/dribbble-af225622faeebc3974447589c918210e22dfedb4cedf7fa69b406c8119715c5d.png) no-repeat;
}
.social-icons li .dropbox {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/dropbox-ae4ff5a7968244db9914e5a196fc0be3d628c78b54356f0d9d3dbffc6316b8c9.png) no-repeat;
}
.social-icons li .evernote {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/evernote-278e596a23c6833ee3d423a94242e8fe0666b70b0bb67e18b2e341b8fc5b7653.png) no-repeat;
}
.social-icons li .facebook {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/facebook-b2152d9384b190d2ef82447d2523ec0be08864ae25bcfad0a318948dbee686f3.png) no-repeat;
}
.social-icons li .forrst {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/forrst-87e5e0ca0e946bacd97333950b0aabdc58d668a79dedd921a5a692d2c16244b2.png) no-repeat;
}
.social-icons li .github {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/github-89c830d84765d5d3efc9abb8f03cbc57e6988912dc4e1e4196550ed860c86345.png) no-repeat;
}
.social-icons li .googleplus {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/googleplus-040692b97e8d969d843a94711017ef59523b570d05c09754be172d1fea24f431.png) no-repeat;
}
.social-icons li .jolicloud {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/jolicloud-a35822ba85de3287e96d87b48ff1f41bbb5120417bacd64f4874ecc227cd95a0.png) no-repeat;
}
.social-icons li .last-fm {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/last-fm-3de0c88027e1aba575d09bb27343ae89e747f551252d43a708ed27ae9615fd4d.png) no-repeat;
}
.social-icons li .linkedin {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/linkedin-90bebdee2a71ef9dc592b68dc61ad312016b8d634c985d4ab86a34c30186793c.png) no-repeat;
}
.social-icons li .picasa {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/picasa-0f0ef3fd5b1409e914dcfe1566f33a17ab05e93f50e85bfe9aab1d3d1d3d2fc4.png) no-repeat;
}
.social-icons li .pintrest {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/pintrest-69a69745e330ea73fda6f155ae13fd57d209b21f1e8d063cd1019762ef02ed87.png) no-repeat;
}
.social-icons li .rss {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/rss-6ac11a14cf2cd39d5ab02946b6feda421ffffe2669a3b5e211709ce57cc551f1.png) no-repeat;
}
.social-icons li .skype {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/skype-c5958649cecfe0e178733732853b9b37f3f7600e034f24bd51203d462198cc9a.png) no-repeat;
}
.social-icons li .spotify {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/spotify-c2ac67e1d0751782a030077a6844b594d9ec4ddf78fb7f668f8f6e6e6c3bc169.png) no-repeat;
}
.social-icons li .stumbleupon {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/stumbleupon-2f06cea69ff1a80981fe214005e9770b4a3f371b8529f9f2a9fddb4a06bf7b7c.png) no-repeat;
}
.social-icons li .tumblr {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/tumblr-e54bb9c9a140e55d2f0cb51807e8035cc774841eabb821e076368ba20c60e4fb.png) no-repeat;
}
.social-icons li .twitter {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/twitter-79d0948d68f47cf0e88b6a1482e95206c702335581034bca65ac13b0fbd5f0d9.png) no-repeat;
}
.social-icons li .vimeo {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/vimeo-bad358a59a8ce2a8793135648132ffc4a3065690e6ecda54a109d48d51e6223e.png) no-repeat;
}
.social-icons li .wordpress {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/wordpress-62d3c084c0f8da8acc7e459a6c5f6dbce6fb81fdd2a4d61fe496947cdab75bdc.png) no-repeat;
}
.social-icons li .xing {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/xing-ccd17fbdae4ca22582d0671add97421e618e7aaca629a4dbc9314843af8f303a.png) no-repeat;
}
.social-icons li .yahoo {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/yahoo-ae3d722b788a66dd3364a8d371608a75aa6087ca84268e84afb8b2815d2fb0cd.png) no-repeat;
}
.social-icons li .youtube {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/youtube-a8d2e56849ead9c726f21817e68ba88f3b97aa1ce59e0ba7da5ee71b16b1bc9f.png) no-repeat;
}
.social-icons li .vk {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/vk-69f2c4fc3370bd15aeba908a963cc665af973463e2d9e30f39fb0944b2bb2e42.png) no-repeat;
}
.social-icons li .instagram {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/instagram-81600e06167f85e9876eb41fb5f84f6f422ff50dc3d061d8b37d48ec52c04732.png) no-repeat;
}
.social-icons li .reddit {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/reddit-add5ec2dd11c50c41a1a9fb3550ca79526dd210302d0ef5a0d40ec3997745417.png) no-repeat;
}
.social-icons li .aboutme {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/aboutme-96e3ecaf1238dbe67d5fa311d86392a7bdcceebb52dd18f6b6a5abb8432b868a.png) no-repeat;
}
.social-icons li .flickr {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/flickr-a2731ea88460de4adcb80b7dceb317fd2bc05037be7c41db0f86ab4bb4d1d0e8.png) no-repeat;
}
.social-icons li .foursquare {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/foursquare-ee5ce6ea9763ce4a5c2c86bb5bbb55db2a43b923dd41b45622a392a0bef88f40.png) no-repeat;
}
.social-icons li .gravatar {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/gravatar-b26cf60179914acfa40e3b9ba93a05a74f05c55673b6a8c913ffda4f01b3104a.png) no-repeat;
}
.social-icons li .klout {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/klout-4792bb53b43f33b4e49e265a0e089cefa0abf6b86c6b544db76260923f19de75.png) no-repeat;
}
.social-icons li .myspace {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/myspace-5890a52952ecb0dceed09a2f5ff66100de870b80e5327779657482daacc7eed5.png) no-repeat;
}
.social-icons li .quora {
    background: url(https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/pages/img/social/quora-9b9b8b82ed99782d9b609da3b16f12d2e5699c67e1bdc7a411a5eaa7696080d1.png) no-repeat;
}
.social-icons.social-icons-color > li > a {
    opacity: 0.7;
    background-position: 0 -38px !important;
}
.social-icons.social-icons-color > li > a:hover {
    opacity: 1;
}
.social-icons.social-icons-circle > li > a {
    border-radius: 25px !important;
}

/***
Inline Social Icons
***/
.social-icon {
    display: inline-block !important;
    width: 28px;
    height: 28px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.social-icon.social-icon-circle {
    border-radius: 25px !important;
}

.social-icon.amazon {
    background: url(../../pages/img/social/amazon.png) no-repeat;
}
.social-icon.behance {
    background: url(../../pages/img/social/behance.png) no-repeat;
}
.social-icon.blogger {
    background: url(../../pages/img/social/blogger.png) no-repeat;
}
.social-icon.deviantart {
    background: url(../../pages/img/social/deviantart.png) no-repeat;
}
.social-icon.dribbble {
    background: url(../../pages/img/social/dribbble.png) no-repeat;
}
.social-icon.dropbox {
    background: url(../../pages/img/social/dropbox.png) no-repeat;
}
.social-icon.evernote {
    background: url(../../pages/img/social/evernote.png) no-repeat;
}
.social-icon.facebook {
    background: url(../../pages/img/social/facebook.png) no-repeat;
}
.social-icon.forrst {
    background: url(../../pages/img/social/forrst.png) no-repeat;
}
.social-icon.github {
    background: url(../../pages/img/social/github.png) no-repeat;
}
.social-icon.googleplus {
    background: url(../../pages/img/social/googleplus.png) no-repeat;
}
.social-icon.jolicloud {
    background: url(../../pages/img/social/jolicloud.png) no-repeat;
}
.social-icon.last-fm {
    background: url(../../pages/img/social/last-fm.png) no-repeat;
}
.social-icon.linkedin {
    background: url(../../pages/img/social/linkedin.png) no-repeat;
}
.social-icon.picasa {
    background: url(../../pages/img/social/picasa.png) no-repeat;
}
.social-icon.pintrest {
    background: url(../../pages/img/social/pintrest.png) no-repeat;
}
.social-icon.rss {
    background: url(../../pages/img/social/rss.png) no-repeat;
}
.social-icon.skype {
    background: url(../../pages/img/social/skype.png) no-repeat;
}
.social-icon.spotify {
    background: url(../../pages/img/social/spotify.png) no-repeat;
}
.social-icon.stumbleupon {
    background: url(../../pages/img/social/stumbleupon.png) no-repeat;
}
.social-icon.tumblr {
    background: url(../../pages/img/social/tumblr.png) no-repeat;
}
.social-icon.twitter {
    background: url(../../pages/img/social/twitter.png) no-repeat;
}
.social-icon.vimeo {
    background: url(../../pages/img/social/vimeo.png) no-repeat;
}
.social-icon.wordpress {
    background: url(../../pages/img/social/wordpress.png) no-repeat;
}
.social-icon.xing {
    background: url(../../pages/img/social/xing.png) no-repeat;
}
.social-icon.yahoo {
    background: url(../../pages/img/social/yahoo.png) no-repeat;
}
.social-icon.youtube {
    background: url(../../pages/img/social/youtube.png) no-repeat;
}
.social-icon.vk {
    background: url(../../pages/img/social/vk.png) no-repeat;
}
.social-icon.instagram {
    background: url(../../pages/img/social/instagram.png) no-repeat;
}
.social-icon.reddit {
    background: url(../../pages/img/social/reddit.png) no-repeat;
}
.social-icon.aboutme {
    background: url(../../pages/img/social/aboutme.png) no-repeat;
}
.social-icon.flickr {
    background: url(../../pages/img/social/flickr.png) no-repeat;
}
.social-icon.foursquare {
    background: url(../../pages/img/social/foursquare.png) no-repeat;
}
.social-icon.gravatar {
    background: url(../../pages/img/social/gravatar.png) no-repeat;
}
.social-icon.klout {
    background: url(../../pages/img/social/klout.png) no-repeat;
}
.social-icon.myspace {
    background: url(../../pages/img/social/myspace.png) no-repeat;
}
.social-icon.quora {
    background: url(../../pages/img/social/quora.png) no-repeat;
}
.social-icon:hover {
    background-position: 0 -38px;
}

.social-icon-color {
    opacity: 0.7;
    background-position: 0 -38px !important;
}
.social-icon-color:hover {
    opacity: 1;
}
