/* here you can put your own css to customize and override the theme */

form.button_to {
	button {
		border: none;
		padding: 0px;
		float: right;

		span	 {
			color: #64aed9;
		}
	}
}

div.pi-price {
	float: left;
	margin-top: 2px;
}

ul#product-thumbnails {
	list-style: none;
	padding-left: 0px;
	float: left;
	
	li {
		/*display: inline;*/

		a:active, a:focus, a:hover {
			img {
				border: 1px solid green;
			}
		}
	}
}


form#update-cart {
	div.goods-page {
		div.col-md-4 {
			border-left: 1px solid #dddddd; 
			padding-left: 35px;
		}
		div.col-md-8 {
			padding-right: 35px;
		}

		div.shipping-total {
				font: "Helvetica,Arial,sans-serif";
				span.price-key, .price-value {
					font-size: 1.3em;
				}
				.shipping-total-elem {
					padding-bottom: 12px;
				}
		}
	}
}

.del-line-item {
	padding-top: 5px;
}
