<%= render 'spree/shared/pre_footer' %>
<!-- BEGIN FOOTER -->
<div class="footer">
	<div class="container">
		<div class="row">
			<!-- BEGIN COPYRIGHT -->
			<div class="col-md-4 col-sm-4 padding-top-10">
				2015 © Keenthemes. ALL Rights Reserved. 
			</div>
			<!-- END COPYRIGHT -->
			<!-- BEGIN PAYMENTS -->
			<div class="col-md-4 col-sm-4">
				<ul class="list-unstyled list-inline pull-right">
					<li><img src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/corporate/img/payments/western-union-df17ff67700a7a580ea893ef6952b436b69d2d39284598fbec252134866bd43e.jpg" alt="We accept Western Union" title="We accept Western Union"></li>
					<li><img src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/corporate/img/payments/american-express-745ec88d805a5fc28f408c78d22ffb234034acbd3c340318b38e68bcd73a4100.jpg" alt="We accept American Express" title="We accept American Express"></li>
					<li><img src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/corporate/img/payments/MasterCard-1a97455317d80be7e64d5268cf1a1a84fbcdc97b9d075f354e2e9f48667126ab.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
					<li><img src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/corporate/img/payments/PayPal-94c7171d3b9575044a2882fe9eb45c62f6f39abab95cb41bd2963ae489a0c6c3.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
					<li><img src="https://s3.ap-south-1.amazonaws.com/mystore-solidus/assets/corporate/img/payments/visa-bbb3e95cf9f8e68799317918d9009f8871bb476acf1984ec394f4dc547c6ebe6.jpg" alt="We accept Visa" title="We accept Visa"></li>
				</ul>
			</div>
			<!-- END PAYMENTS -->
			<!-- BEGIN POWERED -->
			<div class="col-md-4 col-sm-4 text-right">
				<p class="powered">Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
			</div>
			<!-- END POWERED -->
		</div>
	</div>
</div>
<!-- END FOOTER -->

